/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.band-members {
    text-align: center;
}

.even-band-members {
    background-color: #95a5a6;
    color: white;
}

input.ng-dirty.ng-invalid {
    background-color: pink; !important
}

input.ng-dirty.ng-valid.validity {
    background-color: darkseagreen; !important
}

.vertical-content {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
}

.big-text {
    font-size: 2em;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
    color: red;
}
/*---------------------------CUSTOM CSS STARTS HERE-----------------------------*/

.container {
    width: auto;
}

.has-feedback .form-control-feedback {
    top: 0px;;
}

.datepicker .btn-default {
    border-width: 0;
    box-shadow: none;
}

/*---------------------------CUSTOM CSS FINISH HERE-----------------------------*/

/*---------------------------JIVA CSS------------------------------------------*/
html, body {
    height:inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.9em;
}

input.form-control {
    border-radius: 0%;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    /*padding: 0 1.4em 1.4em 1.4em !important;*/
    /*margin: 0 0 1.5em 0 !important;*/
    /*-webkit-box-shadow:  0px 0px 0px 0px #000;*/
    /*box-shadow:  0px 0px 0px 0px #000;*/
}

legend.scheduler-border {
    font-size: 1.2em;
    font-weight: bold !important;
    text-align: left !important;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

legend {
    color: #3eb5e6;
}

div.navbar {
    background-color: #759b9f;
}


fieldset {
    background-color: #eef5fe;
    /*background-color: red;*/
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #153c50;
    background-color: transparent;
}
/*---------------------------FINISH JIVA CSS----------------------------------*/