<div class="container clearfix" ng-controller="SearchController">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5>Search call</h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <form class="form-inline form-group">
                            <div class="">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="fromDate">From</label>
                                        <input type="text" class="form-control" id="fromDate" placeholder="Must be datepicker"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="toDate">To</label>
                                        <input type="text" class="form-control" id="toDate" placeholder="datepicker again"/>
                                    </div>
                                </div>
                            </div>
                            <div class="" style="background-color: #0f7864">
                                <div class="col-sm-12">
                                    <div class="form-group has-feedback">
                                        <input type="text" class="form-control" placeholder="Search" />
                                        <i class="glyphicon glyphicon-search form-control-feedback"></i>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-sm-6">
                                    Source
                                </div>
                                <div class="col-sm-6">
                                    Search Type
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> IAD
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Contact History
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> JIVA
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Member Contact Preference
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div clas="row">
                    <div class="col-sm-6 col-sm-push-6">
                        <button class="btn btn-primary btn-sm">
                            New Search
                        </button>
                        &nbsp;
                        <button class="btn btn-primary btn-sm">
                            Reset
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div ui-grid="gridOptions" ui-grid-exporter ui-grid-selection ui-grid-pagination class="grid"></div>
    </div>
</div>