<div class="container clearfix" ng-controller="SearchController">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5>Search call</h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col-sm-6">
                            <label for="fromDate">From</label>
                            <input type="text" class="form-control" id="fromDate" placeholder="Must be datepicker"/>
                        </div>
                        <div class="col-sm-6">
                            <label for="toDate">To</label>
                            <input type="text" class="form-control" id="toDate" placeholder="datepicker again"/>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-sm-6">
                                    <strong>Source</strong>
                                </div>
                                <div class="col-sm-6">
                                    <strong>Search Type</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> IAD
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Contact History
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> JIVA
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Member Contact Preference
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br>
                <div clas="row">
                    <div class="col-sm-6">
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" placeholder="Search">
                            <i class="glyphicon glyphicon-search form-control-feedback"></i>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <button class="btn btn-primary btn-sm">
                            New Search
                        </button>
                        &nbsp;
                        <button class="btn btn-primary btn-sm">
                            Reset
                        </button>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div ui-grid="gridOptions" ui-grid-exporter ui-grid-selection ui-grid-pagination class="grid"></div>
            </div>
        </div>


    </div>
</div>