<div class="container clearfix" ng-controller="SearchController">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5>Search call</h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="col-sm-6">
                            <label>From</label>
                            <input class="form-control" type="text" datepicker>
                        </div>
                        <div class="col-sm-6 pull-right">
                            <label>To</label>
                            <input class="form-control" type="text" datepicker ng-model="date">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-sm-4">
                                    <strong>Source</strong>
                                </div>
                                <div class="col-sm-4">
                                    <strong>Search Type</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> IAD
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Contact History
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> JIVA
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Member Contact Preference
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br>
                <div clas="row">
                    <div class="col-sm-4">
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" placeholder="Search">
                            <i class="glyphicon glyphicon-search form-control-feedback"></i>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <button ng-click="search(date)" class="btn btn-primary btn-sm">
                            New Search
                        </button>
                        &nbsp;
                        <button ng-click="reset(date)" class="btn btn-primary btn-sm">
                            Reset
                        </button>
                        <button ng-click="getMockedData()" class="btn btn-danger btn-sm">
                            Get Mocked Data
                        </button>
                        &nbsp;
                        <button ng-click="getMockedDataLong()" class="btn btn-danger btn-sm">
                            Get More Mocked Data
                        </button>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div ng-show="showGrid" ui-grid="gridOptions" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns class="grid"></div>
            </div>
        </div>


    </div>
</div>